.build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
WebJamPocketStage.xcodeproj/
PocketStage/Info.plist
WebJamArtCompanion.xcodeproj/
ArtCompanion/Info.plist
*.xcresult/
ArtCompanionRuntimeTests/GeneratedHost.swift
